<div class="country" *ngFor="let country of countries">
  <div class="info">
    <p>
      country: <span> {{ country.name }}</span>
    </p>
    <p>
      capital: <span> {{ country.capital }}</span>
    </p>
    <p>
      currency: <span> {{ country.currencies[0].code }}</span>
    </p>
  </div>
  <div class="votes">
    <p>votes</p>
    <p>
      <span>{{ country.votes }}</span>
    </p>
    <p>
      <button><i class="fas fa-plus"></i></button
      ><button><i class="fas fa-minus"></i></button>
    </p>
  </div>
</div>

<ng-template #loading>
  <p>loading..</p>
</ng-template>
